%header.banner
  .message
    %h1 Stocky
    %p A clean and simple way to view your portfolio.
    %a.button{ href: '/portfolio' } Create your portfolio today
    %p.download-link
      %a{ href: '/portfolio' } Already have one started?

%footer
  %p.copyright
    2013 &copy;
    %a{ href: 'http://kunalbhat.com', target: '_blank' } Kunal Bhat
