!!! 5
%html{ lang: 'en' }
  %head
    %title Stocky
    %meta{ name: 'viewport', content: 'initial-scale=1.0, maximum-scale=1.0' }
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }
    %link{ href: '/favicon.ico', rel: 'shortcut icon' }
    %link{ href: '/touch-icon-iphone.png', rel: 'apple-touch-icon' }
    %link{ href: '/touch-icon-ipad.png', rel: 'apple-touch-icon', sizes: '72x72' }
    %link{ href: '/touch-icon-iphone-retina.png', rel: 'apple-touch-icon', sizes: '114x114' }
    %link{ href: '/touch-icon-ipad-retina.png', rel: 'apple-touch-icon', sizes: '144x144' }
    %link{ href: '/style.css', rel: 'stylesheet' }
  %body
    .container
      %header.title-bar
        %nav#menu.menu
        #add-symbol.add-symbol
      = yield

  %script{ src: '//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js' }
  %script{ src: 'http://cdnjs.cloudflare.com/ajax/libs/lodash.js/1.2.1/lodash.js' }
  %script{ src: '/javascripts/handlebar.js' }

  %script{type: 'text/x-handlebars-template', id: 'stock-template'}
    .stock-info-wrapper{ class: '{{status}}' }
      .stock-info
        %strong {{symbol}}
        %p.stock-price {{last_price}}
        %span.change {{change_}}
      .stock-tools
        .remove{name: '{{symbol}}'}

  :coffee
    if savedData = localStorage.getItem('stocks')
      window.stocks = savedData.split(',')
    else
      window.stocks = []

    source   = $("#stock-template").html()
    template = Handlebars.compile(source)

    _.each window.stocks, (symbol) ->
      stock = {symbol: symbol, last_price: ''}
      $('.stock-list').append('<li name="' + stock.symbol + '">' + template(stock) + '</li>')

      callback = (data) ->
        $($('li[name=' + symbol + ']')[0]).html(template(data))
        window.bindEvents()

      $.ajax({
        contentType: 'application/json',
        tyoe: 'POST',
        url: '/stocks',
        data: { symbol: symbol },
        dataType: 'json',
        success: callback
      })

    $('.settings').click ->
      $(@).parent('.stock-info-wrapper').toggleClass('show-settings')

    $('#add-symbol').click ->
      $('.stock-list .add-symbol-wrapper').toggleClass('visible')

    window.bindEvents =  ->

      $('.remove').click (e) ->
        e.stopPropagation()
        stock = $(e.currentTarget).attr('name')
        window.stocks = _.reject(window.stocks, (symbol) -> symbol is stock)
        localStorage.setItem('stocks', window.stocks)
        $('li[name=' + stock + ']').remove()

      $('.stock-list li').click (e) ->
        $(@).toggleClass('expand')

      $('#add-symbol-form').submit (event) ->
        event.preventDefault()

        symbol = $(this).find('input')[0].value

        unless _.include(window.stocks, symbol)
          window.stocks.push(symbol)
          localStorage.setItem('stocks', window.stocks)

          stock = {symbol: symbol, last_price: ''}
          $('.stock-list').append('<li name="' + stock.symbol + '">' + template(stock) + '</li>')

          callback = (data) ->
            $($('li[name=' + symbol + ']')[0]).html(template(data))
            $('.stock-list').append()
            $('#add-symbol-form input').val('')

          $.ajax({
            contentType: 'application/json',
            url: '/stocks',
            data: { symbol: symbol },
            dataType: 'json',
            success: callback
          })

          window.bindEvents()

    $(-> window.bindEvents())

