!!! 5
%html{ lang: 'en' }
  %head
    %title Stocky
    %meta{ name: 'viewport', content: 'initial-scale=1.0, maximum-scale=1.0' }
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }
    %link{ href: '/favicon.ico', rel: 'shortcut icon' }
    %link{ rel: 'apple-touch-startup-image', href: 'apple-touch-startup-image-640x920.png' }
    %link{ href: '/touch-icon-iphone.png', rel: 'apple-touch-icon-precomposed' }
    %link{ href: '/touch-icon-ipad.png', rel: 'apple-touch-icon-precomposed', sizes: '72x72' }
    %link{ href: '/touch-icon-iphone-retina.png', rel: 'apple-touch-icon-precomposed', sizes: '114x114' }
    %link{ href: '/touch-icon-ipad-retina.png', rel: 'apple-touch-icon-precomposed', sizes: '144x144' }
    %link{ href: '/style.css', rel: 'stylesheet' }
  %body
    .container
      = yield

  %script{ src: '//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js' }
  %script{ src: 'http://cdnjs.cloudflare.com/ajax/libs/lodash.js/1.2.1/lodash.js' }
  %script{ src: '/javascripts/handlebar.js' }
  %script{ src: '/javascripts/chart.min.js' }

  %script{type: 'text/x-handlebars-template', id: 'stock-template'}
    .stock-info-wrapper{ class: '{{status}}' }
      .stock-info
        %strong {{symbol}}
        %p.stock-price
          {{last_price}}
          %span.change {{percent_change}}
    .drawer
      .chart
      .remove

  %script{src: '/javascripts/application.js'}
