!!! 5
%html{ lang: 'en' }
  %head
    %title Stocky
    %meta{ name: 'viewport', content: 'initial-scale=1.0, maximum-scale=1.0' }
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }
    %link{ href: '/favicon.ico', rel: 'shortcut icon' }
    %link{ rel:'apple-touch-startup-image',
      media: '(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)',
      href: 'apple-touch-startup-image-640x1096.png' }
    %link{ href: '/touch-icon-iphone.png', rel: 'apple-touch-icon-precomposed' }
    %link{ href: '/touch-icon-ipad.png', rel: 'apple-touch-icon-precomposed', sizes: '72x72' }
    %link{ href: '/touch-icon-iphone-retina.png', rel: 'apple-touch-icon-precomposed', sizes: '114x114' }
    %link{ href: '/touch-icon-ipad-retina.png', rel: 'apple-touch-icon-precomposed', sizes: '144x144' }
    %link{ href: '/style.css', rel: 'stylesheet' }
  %body
    .container
      = yield

  %script{ src: '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' }
  %script{ src: 'http://cdnjs.cloudflare.com/ajax/libs/lodash.js/1.2.1/lodash.js' }
  %script{ src: '/javascripts/handlebar.js' }

  %script{type: 'text/x-handlebars-template', id: 'stock-template'}
    .stock-info-wrapper{ class: '{{status}}' }
      .stock-info
        .symbol-company
          %strong {{symbol}}
          %span.subdued {{company}}
        %p.stock-price
          {{last_price}}
          %span.change {{point_change}} <em>(</em>{{percent_change}}<em>)</em>
    .drawer
      %a.remove{ href: '#', name: '{{symbol}}' }
        %a.chart{ href: '/{{symbol}}', target: '_self' }

  %script{src: '/javascripts/application.js'}

  :coffeescript
    $(document).on 'click', 'a', (event) ->
      event.preventDefault()
      location.href = $(event.target).attr('href')
