%header.title-bar
  #add-symbol.add-symbol

.add-symbol-wrapper
  %form#add-symbol-form.add-symbol-form
    %input{ autocapitalize: 'off', autocorrect: 'off', name: 'stock_symbol', placeholder: 'e.g. GOOG', type: 'text' }

#portfolios.portfolios
  %ul.stock-list#stocks
