.menu-pane
  %form#add-portfolio-form.add-portfolio-form
    %input{ name: 'portfolio_name', type: 'text', placeholder: 'e.g. Fidelity' }

  %ul.portfolio-list#portfolio-list

.add-symbol-wrapper
  %form#add-symbol-form.add-symbol-form
    %input{ name: 'stock_symbol', placeholder: 'e.g. GOOG', type: 'text' }

#portfolios.portfolios
