// Colors
//
$color_background_paper:   #fff;
$color_background_soft:    #f5f7f9;
$color_background_light:   #ecf0f1;
$color_background_medium:  #bdc3c7;
$color_background_dark:    #4c525c;

$color_text_inverted:      #fff;
$color_text_light:         #ecf0f1;
$color_text_medium:        #bdc3c7;
$color_text_dark:          #4c525c;

$color_success:            #2ecc71; // Emerald green
$color_warning:            #e74c3c; // Ruby red

// Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

$sans_serif_font: 'Open Sans', Arial, sans-serif;
$icon_font:       'entypo';

@font-face {
  font-family: 'entypo';
  src: url('webfonts/entypo.eot');
  src: url('webfonts/entypo.eot?#iefix') format('embedded-opentype'),
       url('webfonts/entypo.woff') format('woff'),
       url('webfonts/entypo.ttf')  format('truetype'),
       url('webfonts/entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Extend icon font
.icon-font {
  font-family: $icon_font;
  font-size: 21px;
}

// Typography
h1, h2, h3,
h4, h5, h6 {
  margin: 0;
}

strong {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 32px;
  font-weight: 300;
  margin: 0;

  span { font-size: 18px; }
}

a {
  text-decoration: none;

  -webkit-transition: color 0.3s;
     -moz-transition: color 0.3s;
          transition: color 0.3s;
}

// Global
body {
  background-color: $color_background_soft;
  color: $color_text_dark;
  font-family: $sans_serif_font;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
}

// Structure
.container {
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
  left: 0;
  width: 100%;

  -webkit-transition: left 0.2s ease-in-out;
     -moz-transition: left 0.2s ease-in-out;
          transition: left 0.2s ease-in-out;
}

.title-bar {
  background-color: $color_background_dark;
  color: $color_text_light;
  height: 64px;
  overflow: hidden;
  position: relative;
  width: 100%;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  .return, .add-symbol, .symbol-lookup {
    &:after {
      @extend .icon-font;

      color: $color_text_medium;
      cursor: pointer;
    }

    &:hover {
      &:after { color: $color_text_light; }
    }
  }

  .return, .add-symbol, .symbol-lookup {
    height: 64px;
    line-height: 60px;
    position: absolute;
    text-align: center;
    width: 64px;
  }

  .return {
    left: 0;

    &:after {
      content: '\e003';
      left: -5px;
      position: relative;
    }
  }

  .add-symbol {
    right: 0;

    &:after {
      content: '\e001';
      font-size: 28px;
    }
  }

  .symbol-lookup {
    left: 0;
    top: 2px;

    &:after {
      content: '\e005';
    }
  }
}

.add-symbol-wrapper, .symbol-lookup-wrapper {
  background-color: $color_background_soft;
  height: 0;
  max-height: 100px;
  overflow: hidden;
  width: 100%;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  -webkit-transition: height 0.2s ease-in-out;
     -moz-transition: height 0.2s ease-in-out;
          transition: height 0.2s ease-in-out;

  &.visible { height: 100px; }
}

.add-symbol-form, .symbol-lookup-form {
  input[type=text] {
    background-color: $color_text_dark;
    border: none;
    color: $color_text_medium;
    font-family: $sans_serif_font;
    font-size: 36px;
    font-weight: lighter;
    height: 100px;
    max-height: 100px;
    outline: none;
    padding: 20px;
    text-transform: uppercase;
    width: 100%;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    &::-webkit-input-placeholder { color: lighten($color_text_dark, 10%); text-transform: none; }
    &::-moz-placeholder          { color: lighten($color_text_dark, 10%); text-transform: none; }
    &:-moz-placeholder           { color: lighten($color_text_dark, 10%); text-transform: none; }
    &:-ms-input-placeholder      { color: lighten($color_text_dark, 10%); text-transform: none; }
  }
}

.stock-list {
  margin: 0;
  padding: 0;

  li {
    background: transparent;
    height: 100px;
    list-style-type: none;
    overflow: hidden;
    position: relative;
    width: 100%;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: height 0.2s ease-in-out;
       -moz-transition: height 0.2s ease-in-out;
            transition: height 0.2s ease-in-out;

    em { display: none; }

    &.show-drawer {
      .stock-info-wrapper { width: 50%; }

      .drawer { right: 0; }
    }

    .stock-info-wrapper {
      &.loss, &.gain {
        background-image: none;
        background-color: $color_background_paper;
        border-bottom: 1px solid $color_background_light;

        &:hover {
          background-color: $color_background_light;
        }

        em {
          display: inline-block;
          font-style: normal;
        }
      }

      &.loss {
        .change, &:after {
          color: $color_warning;
        }

        &:after { content: '\e008'; }
      }

      &.gain {
        .change, &:after {
          color: $color_success;
        }

        &:after { content: '\e009'; }
      }
    }
  }

  .stock-info-wrapper {
    background: $color_background_light url('images/loading.gif') no-repeat 20px 55px;
    border-bottom: 1px solid #dfdfdf;
    color: $color_text_dark;
    cursor: pointer;
    display: inline-block;
    height: 100px;
    left: 0;
    max-height: 100px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 100%;
    z-index: 99;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: width 0.2s ease-in-out;
       -moz-transition: width 0.2s ease-in-out;
            transition: width 0.2s ease-in-out;

    &:after {
      @extend .icon-font;

      position: absolute;
      right: 20px;
      top: 40px;
    }
  }
}

.subdued {
  color: $color_text_medium;
  font-weight: 300;
}

.stock-detail {
  header {
    color: $color_text_inverted;
    padding: 20px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    &.gain {
      background-color: $color_success;
    }

    &.loss {
      background-color: $color_warning;
    }
  }

  table {
    border-collapse: collapse;
    color: $color_text_light;
    margin-top: 20px;
    padding: 20px;
    width: 100%;

    td {
      margin: 0;
      padding: 10px;
      width: 25%;
    }

    tr {
      background: $color_background_dark;
      border-bottom: 1px solid darken($color_background_dark, 10%);

      &:nth-child(odd) {
        background: darken($color_background_dark, 10%);
      }
    }
  }
}

.last-price {
  font-size: 56px;
  font-weight: 300;
}

.company-name { font-weight: 300; }

.drawer {
  height: 100px;
  position: absolute;
  right: -200px;
  top: 0;

  -webkit-transition: right 0.2s ease-in-out;
     -moz-transition: right 0.2s ease-in-out;
          transition: right 0.2s ease-in-out;

  a { text-decoration: none; }
}

.chart, .remove {
  cursor: pointer;
  height: 36px;
  position: absolute;
  top: 40px;
  width: 36px;

  &:after {
    @extend .icon-font;

    color: $color_text_medium;
  }

  &:hover {
    &:after { color: $color_text_dark; }
  }
}

.remove {
  right: 0;

  &:after { content: '\e00a'; }
}

.chart {
  right: 70px;

  &:after { content: '\e004'; }
}

.symbol-chart { margin-top: 20px; }

@media only screen
and (max-width: 320px) {
  .subdued { display: none; }
}

.wrapper {
  margin-top: 200px;
  text-align: center;

  img { margin-bottom: 40px; }

  h2 { margin-bottom: 10px; }

  p { font-size: 18px; }

  a {
    color: #666;
    text-decoration: underline;

    -webkit-transition: color 0.3s;
       -moz-transition: color 0.3s;
            transition: color 0.3s;

    &:hover { color: #111; }
  }
}

footer {
  bottom: 40px;
  position: fixed;
  text-align: center;
  width: 100%;

  p {
    color: $color_text_medium;
    font-size: 16px;
  }

  a {
    color: inherit !important;

    &:hover { color: $color_text_dark !important; }
  }
}

.button {
  background: $color_success;
  border-radius: 7px;
  color: $color_text_inverted !important;
  display: inline-block;
  margin-top: 60px;
  padding: 15px;
  text-decoration: none !important;

  -webkit-transition: background-color 0.3s;
     -moz-transition: background-color 0.3s;
          transition: background-color 0.3s;

  &:hover {
    background: darken($color_success, 10%);
  }
}

.banner {
  background: $color_background_paper url('images/ios_hero_image-medium.png') no-repeat 30% center;
  height: 700px;

  h1 {
    color: $color_success;
  }
}

.message {
  position: absolute;
  left: 50%;
  top: 200px;
  width: 400px;

  .download-link {
    color: $color_text_medium;
    font-size: 16px;
    margin-top: 20px;
  }
}
